a + span.cayl {
  display: none;
  position: absolute;        
  margin-left: -1em;
  margin-top: 0.5em;      
  padding: 0.1em;
  z-index: 99999;
  
  background-color: white;
  border: 1px solid gray;
}         

span.cayl:hover, span.cayl.on  {
  display: inline-block;
}
